.dashboard-page {
  padding-top: 0px;
}

.dashboard-textarea {
  min-height: 400px;
}

.dashboard-textarea__text {
  padding: 0px 8px;
  line-height: 36px;
  font-size: 18px;
  color: var(--windows-blue);
}

.dashboard-window {
  max-width: 600px;
  margin: auto;
  margin-top: 8px;
}

.dashboard-folderrow {
  display: flex;
}


.dashboard-list {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.dashboard-listbutton {
  margin-top: 24px;
}
