.dashboard-page {
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.dashboard-modalcontainer {
  position: absolute;
  top: 120px;
  left: calc(50% - 400px);
}

.dashboard-textarea {
  min-height: 400px;
}

.dashboard-textarea__text {
  padding: 0px 8px;
  line-height: 36px;
  font-size: 18px;
  color: var(--windows-blue);
}

.dashboard-window {
  max-width: 600px;
  margin: auto;
  margin-top: 8px;
}

.dashboard-folderrow {
  display: flex;
}


.dashboard-list {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.dashboard-listbutton {
  margin-top: 24px;
}

/* PROFILE MODAL */

.dashboard-profilemodal {
  width: 360px;
}

.profilemodal__range {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profilemodal__range__title {
  display: inline-block;
  min-width: 130px;
  flex: 0
}

.profilemodal__range__valuedisplay {
  display: inline-block;
  flex: 1;
  text-align: center;
}

.profilemodal__range__slider {
  flex: 4
}
