.rte-wrapper {
  width: calc(450px + 50px * 2);
  margin: auto;
}

.rte-main {
  text-align: left;
  outline: none;
  user-select: text;
  -webkit-user-select: text;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 450px;
  height: 650px;
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 12px;
  margin: auto;
}

.rte-hide-caret {
  caret-color: transparent;
}
