/** Folder.elm **/

.folder {
  margin: 20px;
  width: 80px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 13px;
  font-weight: bolder;
  text-align: center;
}

.folder__top {
  position: absolute;
  height: 0px;
  border-bottom: 10px solid var(--windows-manilla-border);
  border-left: 15px solid var(--windows-manilla-border);
  border-right: 10px solid transparent;
  z-index: 2;
  left: 0px;
  top: -10px;
}

.folder__body {
  background-color: var(--windows-manilla);
  border: 2px outset var(--windows-manilla-border);
  min-width: 60px;
  box-sizing: border-box;
  min-height: 60px;
}

.folder__bottom {
  padding-top: 4px;
  color: white;
}

/* TABS */

.tabs {
  margin: 0px 16px;
}

.tabs__header {
  height: 28px;
  position: relative;
}

.tabs__headerbuttons {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
}

.tabgroup {
  position: relative;
}

.tabgroup__button {
  border: none;
  height: 26px;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
}

.tabgroup__button--active {
  box-shadow: inset -1px 0px #0a0a0a, inset 1px 1px #fff, inset -2px 0px grey, inset 2px 2px #dfdfdf;
}

.tabs__body {
  padding: 16px;
  margin-top: -4px;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
}

.icon-button {
  border: none;
  height: 26px;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  min-width: initial;
  width: 26px;
  padding: 0px;
  color: black;
  margin-right: 6px;
}
